.loginPage{
    margin: 0px;
    padding: 0px;
}

.loginForm{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    font-size: 15px;
    background-color: var(--bg-color1);
}

.formLoginBtn{
    width: 100%;
    border-radius: 8px !important;
    background-color: var(--grey-color3);
}

button.active.ant-btn.css-dev-only-do-not-override-1me4733.ant-btn-primary.my-3.fw-bolder.formLoginBtn {
    background: var(--blue-color3);
    color: white !important;
}

.loginImg{
    width: 400px !important;
}

/* span.anticon.anticon-eye-invisible.ant-input-password-icon {
    display: none;
} */
