.people {
    .ant-tabs-tab.ant-tabs-tab-active {
        background-color: var(--blue-color1) !important;
    }
    .ant-tabs-tab>.ant-tabs-tab-btn>div{
        color: var(--grey-color2) !important;
    }
    .ant-tabs-tab.ant-tabs-tab-active>.ant-tabs-tab-btn>div{
        color: var(--blue-color2) !important;
    }
    .ant-tabs-tab{
        border: none !important;
        border-radius: 0px !important;
    }
    .ant-tabs-tab, .ant-tabs-nav {
        background-color: var(--blue-color6) !important;
        margin: 0px !important;
    }
    ::before {
        border: none !important;
    }
    .peopleTable th.ant-table-cell{
        color: var(--blue-color2) !important;
        font-weight: bolder !important;
    }
}