.welcomeBackImg{
    width: 250px;
}

.welcomebackBanner{
    width: 90%;
}

.iconHome{
    width: 25px;
}

.bgIconHome{
    background-color: var(--blue-color1);
    width: 40px;
    height: 40px;
}

.cardHome{
    height: fit-content;
    width: 155px !important;
}

.searchFormLocation input, .searchFormContact input{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.searchFormLocation button, .searchFormContact button{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.searchFormContact input{
    width: 80px;
}

.weatherIcon{
    width: 100px;
}

.contactList{
    height: 210px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px !important;
}

.avatarContact{
    width: 40px;
}

.skeletonRect{
    padding: 0px;
}

.chartBody {
    height: 100%;
  }
  
.avatarChosenAdmin{
    width: 80px;
    margin-top: -55px;
    margin-bottom: 10px;
    border: 1px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

:where(.css-dev-only-do-not-override-1me4733).ant-modal .ant-modal-footer .ant-btn+.ant-btn:not(.ant-dropdown-trigger) {
    background-color: var(--green-color3);
}

.notfoundImage{
    width: 80px;
}