.linkNormal{
    text-decoration: none;
}

.heading{
    font-size: 22px;
}

.textGreen1{
    color: var(--green-color1) !important;
}

.iconMenuAcc{
    background-color: var(--blue-color1);
    color: var(--blue-color2);
    padding: 2px;
    border-radius: 12px;
}

.menuActive{
    background-color: var(--blue-color2) !important;
    border-radius: 10px !important;
}

.menuActive .iconColor{
    padding: 4px;
    color: var(--green-color1) !important;
    font-size: 20px;
    margin-bottom: 4px;
}

.menuActive .textColor{
    color: white !important;
}

.menuInactive:hover{
    border-radius: 10px;
}

.menuInactive .iconColor{
    padding: 4px;
    color: var(--blue-color2) !important;
    font-size: 20px;
    margin-bottom: 4px;
}

.menuInactive .textColor{
    color: var(--grey-color1) !important;
}

.outlet{
    background-color: var(--blue-color1);
    border-top-left-radius: 20px;
}