.peopleDetail {
  .avatarImg {
    width: 100px !important;
    height: 100px !important;
    border: 1px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .iconCar {
    width: 40px;
    height: 45px;
  }

  .iconArrow {
    margin-bottom: -8px !important;
  }

  .peopleHistory {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .historyCusList {
      height: 310px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .historyDriverList {
      height: 240px;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  .noDataImage {
    width: 100px;
  }

  .anticon-search svg {
    display: inline-block;
    margin-top: -4px;
  }
}