:root {
  --bg-color1: #F6F1F1;
  --green-color1: #00D6BB;
  --green-color2: #BFEBE3;
  --blue-color1: #DAE8F3;
  --blue-color2: #146C94;
  --blue-color3: #295B7F;
  --blue-color4: #E6F0F7;
  --grey-color1: #A5A9AB;
  --grey-color2: #808080;
  --grey-color3: #D9D9D9;
  --grey-color4: #BFC2C3;
}

html{
  height: 100vh;
}

:root, .App {
  background-color: var(--bg-color1);
  height: 100vh;
}

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box !important;
}

.textBlue2{
  color: var(--blue-color2);
}

.fs-16{
  font-size: 16px !important;
}

.fs-14{
  font-size: 14px !important;
}

.bgBlue4{
  background-color: var(--blue-color4);
}

.bgBlue2{
  background-color: var(--blue-color2);
}

.bgGrey1{
  background-color: var(--grey-color1);
}

.textGrey4{
  color: var(--grey-color4);
}

.textGrey1{
  color: var(--grey-color1) !important;
}

.textBlue3{
  color: var(--blue-color3);
}

.textGrey2{
  color: var(--grey-color2) !important;
}

